body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.sidebar-color-black {
    background-color: black!important;
}

#michael {
    
        width: 50px;
        display: flex;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    height: 100vh;
  
  }

#contact-list {
    border-right: 4px solid #0000001A;
    
}

#contact-info {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 80px;
  right: 0;
  overflow-x: hidden;
  margin-top: 4px;
  background-color: #F5F5F5;
  border-left: 4px solid #0000001A;
}

.blueline {
    margin-top: 15px;
    margin-left: 25px;
    height: 45px;
    width: 3px;
    background-color: #29ABE2;
}

.contacts-header-right {
    display: flex;
    flex-direction: row;
    margin-left: 55px;
    margin-top: 40px;
}

h3 {
    font-weight: 100;
    margin-left: 25px;
    margin-top: 30px;
}

.btn-contact {
    background-color: #2A3647;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 7px;
    position: fixed; /*das brauche ich um buton nach unten zutun*/
    bottom: 60px;
    right: 40px
}

.btn-contact:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.btn-contact-icon {
    
}

.modal{
   /*Modal BG*/ 
      display: block;
      background: rgba(0,0,0,.6);
      position: fixed;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      z-index: 10;
    }
    
    


    .modal-dialog {
        display: flex;
        flex-wrap: wrap;
        background: #fefefe;
        border: solid 1px gray;
        border-radius: 15px;
        position: fixed;
        z-index: 11;
        width: 87%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /*Key um Modal-Fenster mittig zu positionieren*/
      }

      .left-side-modal {
        background-color: #2A3647;
        width: 40%;
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      .right-side-modal {
        height: 100%;
        width: 60%;
        
      }

      .contacts-join-logo {
        height: 50px;
        width: 45px;
        margin-top: 90px;
        margin-left: 40px;            
    }

    .modal-headline {
        color: white;
        margin-left: 40px;
    }

    .modal-text { 
        color: white;
        margin-left: 40px;
        font-weight: 100;
    }

    .blueline-vertical {
        margin-left: 40px;
        height: 3px;
        width: 52px;
        background-color: #29ABE2;
    }

    .img-add-contact {
        margin-left: 50px;
        margin-right: 50px;
        height: 100px;
        width: 100px;
    }

    .img-info {
        display: flex;
        margin-top: 120px;
    }

    .input-fields {
        display: flex;
        flex-direction: column;
    }

    .input-field {
        width: 400px;
        height: 40px;
        margin-top: 30px;
    }

@media only screen and (max-width: 800px) {
  
    .maincontainer {
       margin: 0;
       overflow-x: hidden;
    }
    .author {
        padding-right: 5px;
    }
  }
