body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;
}

.sidebar-color-black {
    background-color: black!important;
}

#michael {
    
        width: 50px;
        display: flex;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    height: 100%;
    overflow: hidden;
  }

#contact-list {
    border-right: 4px solid #0000001A;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  /* hinzugefügt */
    width: 50%;
   height: 89vh;
   overflow-x: hidden;
}

#contact-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  top: 80px;
  right: 0;
  margin-top: 4px;
  background-color: #F5F5F5;
  border-left: 4px solid #0000001A;
  
}



.blueline {
    margin-top: 15px;
    margin-left: 25px;
    height: 45px;
    width: 3px;
    background-color: #29ABE2;
}

.contacts-header-right {
    display: flex;
    flex-direction: row;
    margin-left: 55px;
    margin-top: 40px;
}

.text-better-with-a-team {
    font-weight: 100;
    margin-left: 25px;
    margin-top: 30px;
}

.btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    background-color: #2A3647;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 7px;
    position: fixed; /*das brauche ich um buton nach unten zutun*/
    bottom: 60px;
    right: 40px
}

.btn-contact:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.btn-contact-icon {
    
}

.modal{
   /*Modal BG*/ 
      display: block;
      background: rgba(0,0,0,.6);
      position: fixed;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      z-index: 10;
    }
    
    .contactheader {
        width: 80%;  /* hier auf 80% geändert */
   display: flex;
   align-items: center;
   border-bottom: 1px solid #D1D1D1;
   margin: auto; 
    }

    .contact-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
      
        
    }

    .middlecontainer {
        flex-direction: row;
        display: flex;
        overflow-y: hidden;
    }

    .contact {
   margin-top: 20px;
   padding-top:5px;
        width: 80%;
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

        .contact:hover {
            border: 1px solid #29ABE2;
            border-radius: 10px;
            cursor:pointer;
            box-shadow: 1px 3px rgba(0, 0, 0, 0.1);

        }
        
    
    .contactinfo{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .imgcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin-left: 12px;
        border-radius: 45px;
        width: 40px;
        height: 40px;
    }

    .bigcontactimg {
        background-color: yellow;
        height: 120px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        border: 3px solid white;
    }

    #letter{
        padding-left: 20px;
    }


    .modal-dialog {
        display: flex;
        flex-wrap: wrap;
        background: #fefefe;
        border: solid 1px gray;
        border-radius: 15px;
        position: fixed;
        z-index: 11;
        width: 87%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /*Key um Modal-Fenster mittig zu positionieren*/
      }

      .left-side-modal {
        background-color: #2A3647;
        width: 40%;
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      .right-side-modal {
        height: 100%;
        width: 60%;
        
      }

      .contacts-join-logo {
        height: 50px;
        width: 45px;
        margin-top: 90px;
        margin-left: 40px;            
    }

    .modal-headline {
        color: white;
        margin-left: 40px;
    }

    .modal-text { 
        color: white;
        margin-left: 40px;
        font-weight: 100;
    }

    .blueline-vertical {
        margin-left: 40px;
        height: 3px;
        width: 52px;
        background-color: #29ABE2;
    }

    .img-add-contact {
        margin-top: 120px;
        margin-left: 50px;
        margin-right: 50px;
        height: 120px;
        width: 120px;
    }

    .img-add-contactedit {
        font-size: 47px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    margin-top: 120px;
        margin-left: 50px;
        margin-right: 50px;
        height: 120px;
        width: 120px;
        height: 120px;
    width: 120px;
    border-radius: 70px;
    border: 3px solid white;
    }
    .img-info {
        display: flex;
        
    }

    .input-fields {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .input-field {
        background-image: url(/assets/img/avatar.png);
        background-repeat: no-repeat;
        background-position: 340px;
        background-size: 18px;
        width: 400px;
        height: 40px;
        margin-top: 30px;
        padding-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-color: rgb(223, 225, 233);
        border-width: 1px;
        object-fit: contain;
    }

    .input-field-mail {
        background-image: url(/assets/img/mailholder.png);
        background-repeat: no-repeat;
        background-position: 340px;
        background-size: 18px;
        width: 400px;
        height: 40px;
        margin-top: 30px;
        padding-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-color: rgb(223, 225, 233);
        border-width: 1px;
        object-fit: contain;
    }

    .input-field-phone {
        background-image: url(/assets/img/phoneholder.png);
        background-repeat: no-repeat;
        background-position: 340px;
        background-size: 18px;
        width: 400px;
        height: 40px;
        margin-top: 30px;
        padding-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-color: rgb(223, 225, 233);
        border-width: 1px;
        object-fit: cover;
    }


    .bottom-buttons {
        display: flex;
        margin-top: 10px;
    }

    .create-btn {
        background-color: #2A3647;
     
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
        text-align: center;
        border-radius: 12px;
        padding: 12px 16px;
        font-weight: bold;
    }
    
    
    .create-btn:hover {
        cursor: pointer;
        background-color: #29ABE2;
        box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    
    .cancel-btn {
       
        color:#2A3647;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
        text-align: center;
        border-radius: 12px;
        padding: 12px 16px;
        color: #2A3647;
        border: none;
    }
    
    
    .cancel-btn:hover {
        cursor: pointer;
        border: 1px solid #29ABE2;
        box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
        
    }

    .d-none {
        display: none!important;
    }
    

.create-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

.task-cancel:before {
   margin-right: 5px;
   display: flex;
   flex-direction: row;
}

.addedTaskToBoard_content {
    position: absolute;
    bottom: 0;
    left: 47%;
    background-color: #2A3647;
    color: white;
    padding: 16px;
    border-radius: 16px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

.task-check:before {
    margin-right: 5px;
}

.board {
    padding-left: 5px;
}

.show {
    animation: 3s addToBoard;
  }

  #showcontact {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .contactinfobig{
    margin-left: 55px;
    margin-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
  }

  .contactinfoedit{
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .headinfo{
    display: flex;
    font-size: 47px;
    align-items: center;
    margin-left: 55px;

  }

  
  .name-and-editbutton {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: flex-start;
  }
  
  #blueaddtask{
    width: 120px;
    height: 20px;
    margin-top: 5px;
    padding-left: 5px;
    border: 1px solid transparent;
    
  }

  #blueaddtask:hover{
    cursor: pointer;
    border: 1px solid #29ABE2;
    border-radius: 5px;
  }

  #editcontactsimg{
    border: 1px solid transparent;
    width: 62px;
    height: 24px;
  }

  #editcontactsimg:hover{
    border: 1px solid #29ABE2;
    border-radius: 5px;
    width: 62px;
    height: 24px;
    cursor: pointer;
  }

  .contactmailbig{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contactphonebig{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #imginfoedit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  


@keyframes addToBoard {
    0% {
        transform:translate(0%, 0%);
        bottom: 0;
        opacity: 0;
    }
    100% {
        transfor: translate(0, 0);
        bottom: 150px;
        opacity: 1;
    }
}



/* RESPONSIVE DESIGN */

@media(min-width: 800px) {
    .close-contact-creation {
        display: none;
    }
}


@media(max-width: 1500px) {
    .left-side-modal {
        width: 27%;
    }
}


@media(max-width: 1240px) {
    .modal-dialog {
        height: 80%;
    }

    .img-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .img-add-contact {
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 50px;
    }

    .input-fields {
        margin-top: 0;
        margin-left: 90px;
    }

    .modal-text, .modal-headline {
        margin-right: 30px;
    }

    .bottom-buttons {
        margin-top: 32px;
    }
}


@media(max-width: 1000px) {
    .bigcontactimg {
        height: 75px;
        width: 75px;
    }

    .text-better-with-a-team {
        display: none;
    }
}


@media(max-width: 930px) {
    .contactinfoedit {
        gap: 20px;
    }

    .headinfo {
        flex-direction: column;
    }
}


@media only screen and (max-width: 800px) {
  
    .maincontainer {
       margin: 0;
       overflow-x: hidden;
    }
    .author {
        padding-right: 5px;
    }

    .contacts-header-right{
        flex-direction: column;
    }

    #contact-list {
        width: 100%;
    }

    #contact-info, .cancel-btn {
        display: none;
    }

    .contact {
        width: 90%;
    }

    .btn-contact {
        position: fixed;
        top: 88px;
        right: 20px;
        width: 179px;
        height: 50px;
    }

    .contactheader {
        width: 90%;
    }

    .modal-dialog {
        height: 90%;
        width: 90%;
        top: 85px;
        transform: translate(-50%, -10%);
        flex-direction: column;
        flex-wrap: nowrap;    
    }

    .left-side-modal {
        width: 100%;
        height: 40%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .contacts-join-logo {
        display: none;
    }

    .right-side-modal {
        width: 100%;
        height: 60%;
    }

    .img-add-contact {
        margin: 0;
        margin-top: -50px;
    }

    .input-field, .input-field-mail, .input-field-phone {
        width: 95%;
        background-position: 97%, 100%;
    }

    .input-fields {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0;
        margin-top: -25px;
    }

    .close-contact-creation {
        position: fixed;
        top: 16px;
        right: 16px;    
    }

    .create-btn {
        margin: -15px;
    }
  }



