<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/menu.css">
</head>

<body>
    <div id="menuContainer" class="menu-container-d-none">
        <nav id="menu" class="nav hide-overlay-menu hide">
            <div id="burger-menu">
                <img class="crosswhite" onclick="hideMenu()" id="hideMenu" src="assets/img/cross_white.png"
                    alt="menu-icon" />
            </div>
            <a class="nav--a a__active logoutbutton" href="index.html">
                <span class="loginbuttonmenu">Logout</span>
            </a>
            <div class="legalnoticemenu">
                <a class="nav--a" href="legal_notice.html">
                    <img class="legalnoticeimgmenu" src="assets/img/legal_notice.png" class="side-bar-image"
                        alt="Legal Notice" />
                    Legal Notice
                </a>
            </div>
        </nav>
    </div>
</body>

</html>