<nav>
    <a></a>

    <div>
        <a>
            <div>
                <div><img src="./img/join.png"></div>
                <div>Summary</div>
            </div>
        </a>
        <a>
            <div>
                <div>Board Bild</div>
                <div>Board</div>
            </div>
        </a>
        <a>
            <div>
                <div>Add Task Bild</div>
                <div>Add Task</div>
            </div>
        </a>
        <a>
            <div>
                <div>Contacts Bild</div>
                <div>Contacts</div>
            </div>
        </a>
    </div>

    <a>
        <div>
            <div>Legal notice Bild</div>
            <div>Legal notice</div>
        </div>
    </a>

</nav>